@use "base" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@for $i from 1 through 3 {
  .principal .box-#{$i} {
    @include box-background($i, $color-base-principal);
    @include general-box-styles;
  }
}

.principal .box-font {
  font-family: "Open Sans", sans-serif;
  > :first-child {
    font-size: 14px;
  }
  > :last-child {
    font-size: 18px;
    font-weight: 500;
  }
}
.principal .box-shadow {
  @include general-box-styles;
  @include box-shadow($box-shadow-principal);
}
