@use "base" as *;

body {
  @include reset;
}
.container-1 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px 10px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
.container-2 {
  @extend .container-1;
}
.container-3 {
  @extend .container-1;
}

.color-box-text {
  color: $color-box-text;
}
.box {
  padding: 20px;
  border-radius: $border-radius;
  background-color: gray;
}

@each $i, $color in $colors {
  .container-#{$i} {
    @include color($color);
  }
}




