@use "base" as *;
@use "sass:color";
body {
  @include reset;
}
.container-1 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px 10px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
.container-2 {
  @extend .container-1;
}
.container-3 {
  @extend .container-1;
}

.color-box-text {
  color: $color-box-text;
}
.box {
  padding: 20px;
  border-radius: $border-radius;
  background-color: gray;
}

@for $i from 1 through 4 {
  .container-#{$i} > .base-color {
    @if ($i == 1) {
      @include box-base($color-base-1);
    } @else if($i == 2) {
      @include box-base($color-base-2);
    } @else if($i == 3) {
      @include box-base($color-base-3);
    }
  }
}

@for $i from 1 through 4 {
  .container-1 > .darken-#{$i} {
    background-color: color.scale($color-base-1, $lightness: - 1 * $i * 15%);
  }
  .container-2 .darken-#{$i} {
    background-color: color.scale($color-base-2, $lightness: -1 * $i * 15%);
  }
  .container-3 .darken-#{$i} {
    background-color: color.scale($color-base-3, $lightness: -1 * $i * 15%);
  }
  .container-1 > .lighten-#{$i} {
    background-color: color.scale($color-base-1, $lightness: $i * 15%);
  }
  .container-2 .lighten-#{$i} {
    background-color: color.scale($color-base-2, $lightness: $i * 15%);
  }
  .container-3 .lighten-#{$i} {
    background-color: color.scale($color-base-3, $lightness: $i * 15%);
  }
}
